/* Webfont: StreamlineModerne-Normal */@font-face {
    font-family: 'StreamlineModerne';
    src: url('Streamline Moderne.eot'); /* IE9 Compat Modes */
    src: url('Streamline Moderne.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Streamline Moderne.woff') format('woff'), /* Modern Browsers */
         url('Streamline Moderne.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

